// Your Situm user and API Key.
const situmUser = "YOUR-SITUM-USER";
const situmApiKey = "YOUR-SITUM-API-KEY";
// Set here the building identifier you want on the map.
const buildingIdentifier = "YOUR-SITUM-BUILDING-IDENTIFIER";
// Alternatively, you can set an identifier that allows you to remotely configure all map settings.
// For now, you need to contact Situm to obtain yours.
const configurationIdentifier = null;
const viewerDomain = "https://map-viewer.situm.com";
// Set here the api which you will use to retrieve the data from. Default is https://dashboard.situm.com
const apiDomain = "https://dashboard.situm.com";