const situmUser = "YOUR-SITUM-USER";
const situmApiKey = "YOUR-SITUM-API-KEY";
const buildingIdentifier = "YOUR-SITUM-BUILDING-IDENTIFIER";
const anotherBuildingIdentifier = "YOUR-SITUM-BUILDING-IDENTIFIER";
const googleMapsApiKey = "YOUR-GOOGLE-MAPS-API-KEY";